@using SteinLundbeck.Components.Extensions;
@using System.IO;

<!DOCTYPE html>
<html lang="@_helper.CurrentCulture.Name" class="creator-full">
<head>
    <site:head files="Layout.css" />

    @await RenderSectionAsync("STYLE", false)
</head>
<body>
    <site:pre />

    <div class="main-content-wrap">
        <div class="top">
            <div class="blog-link-wrap">
                <a href="https://blog.sltech.no" style="text-decoration:none;font-size:13px;" class="link bold" title="Go to my blog"><icon awesome="AngleLeft" /><icon awesome="Globe" />Blog</a>
            </div>
            <header>
                <img src="~/IMAGE/SLTech-logo.png" alt="Stein Lundbeck" class="logo" />
                <h1 class="h1-r">Stein Lundbeck <span class="title font-r-22 mrg-lg-left">@_local["Title"]</span></h1>
            </header>
            <div class="language-bar flex-end-center">
                <a href="/Assets/Site/SetCulture?culture=nb-NO" title="Norsk"><img src="~/IMAGE/flag-no.png" class="flag norwegian" alt="Norwegian flag" /></a>
                <a href="/Assets/Site/SetCulture?culture=en-US" title="English"><img src="~/IMAGE/flag-us.png" class="flag english" alt="US flag" /></a>
            </div>
        </div>
        <div class="content-wrap">
            <div class="content">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
        <div class="bottom bg-contain-bottom-fixed">
            
        </div>
    </div>

    <site:footer />

    @await RenderSectionAsync("SCRIPT", required: false)
</body>
</html>
