@import "Creator//Media";

$clr: #032c4a;

.text-wrap {
    padding: 7px;
    line-height: 1.6;

    & > .link-wrap {
        padding-top: 40px;
        padding-left: unset;
        text-align: center;

        & a.link {
            color: $clr;
        }
    }

    & > .solutions-wrap {
        & a {
            text-decoration: none;
            font-weight: bold;
            color: $clr;
            font-size: 20px;

            &:hover {
                text-decoration: underline;
            }

            &.source-code-link {
                color: $clr;
                font-weight: normal;
            }
        }

        & > p.source-wrap {
            text-align: center;
            padding: 4px;
            margin-top: 40px;

            & > a.source-code-link {
                color: $clr;
            }
        }

        & > span.separator {
            $mrg: 12px;

            font-size: 22px;
            margin-left: $mrg;
            margin-right: $mrg;
            opacity: 0.2;
        }
    }

    & > .social-wrap {
        & > a {
            font-size: 32px;
            text-decoration: none;
            color: $clr;

            &:hover {
                color: rgba($clr, 0.7);
            }
        }

        & > span.separator {
            $mrg: 6px;

            font-size: 30px;
            position: relative;
            top: -3px;
            color: rgba($clr, 0.6);
            color: rgba($clr, 0.4);
            margin-left: $mrg;
            margin-right: $mrg;
        }
    }
}

@include media() {
    .text-wrap {
        padding: 22px;

        & > .link-wrap {
            text-align: unset;
            padding-top: 40px;
            padding-left: 120px;

            & > a.link {
                color: #ffd800;
                font-weight: bold;

                &:hover {
                    text-shadow: 2px 2px 1px #07335c;
                    text-decoration: none;
                }
            }
        }

        & > .solutions-wrap {
            margin-top: 20px;

            & > p.source-wrap {
                padding: 34px;
            }
        }
    }
}
