<site:view id="119" files="SL.CV.css" />

<div>
    <h2>CV</h2>

    <div class="work-wrap">
        <div class="item">
            <h4 class="name">IT-Senteret</h4>
            <span class="location">Gjøvik</span>
            <p>
                <span class="duration">1998 - 2000</span>
                <div class="content-wrap">
                    Stilling som tekniker med oppgaver som bygge PC’er, feilsøking, kable nettverk, konfigurere servere og opplæring.

                    <p>
                        <ul>
                            <li>MS Windows/NT</li>
                            <li>Nettverk</li>
                        </ul>
                    </p>
                </div>
            </p>
        </div>
    </div>
</div>
