body {
  background: #82d0fd;
  background: linear-gradient(135deg, #82d0fd 0%, #c2e9fb 100%);
  background-attachment: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  color: #011f28;
}
body main {
  padding-bottom: 0px !important;
}
body .main-content-wrap {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  grid-template-rows: 80px auto 114px;
  position: relative;
}
body .main-content-wrap > .top > header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body .main-content-wrap > .top > header > img.logo {
  height: 54px;
  margin-right: 14px;
  margin-left: 6px;
}
body .main-content-wrap > .top > header > h1 {
  position: relative;
  top: 2px;
}
body .main-content-wrap > .top > header > h1 > .title {
  display: block;
}
body .main-content-wrap > .top > div.language-bar {
  padding-right: 30px;
  position: relative;
  top: -30px;
}
body .main-content-wrap > .top > div.language-bar img.flag {
  width: 30px;
  margin-left: 4px;
  margin-right: 4px;
}
body .main-content-wrap > .content-wrap > .content {
  padding: 12px;
}
body .main-content-wrap > .bottom {
  background-image: url("/IMAGE/bottom-bg.png");
}
body .main-content-wrap > .bottom .illu {
  max-width: 130px;
}

@media (min-width: 768px) {
  body .main-content-wrap {
    grid-template-rows: 140px 467px 363px;
  }
  body .main-content-wrap > .top > header {
    justify-content: center;
  }
  body .main-content-wrap > .top > header > img.logo {
    height: 84px;
  }
  body .main-content-wrap > .content-wrap > .content {
    width: 1560px;
    margin: auto;
  }
  body .main-content-wrap > .bottom .illu {
    max-width: 413px;
  }
}
@media (min-width: 576px) {
  #BarMenu {
    right: 0;
  }
}