.text-wrap {
  padding: 7px;
  line-height: 1.6;
}
.text-wrap > .link-wrap {
  padding-top: 40px;
  padding-left: unset;
  text-align: center;
}
.text-wrap > .link-wrap a.link {
  color: #032c4a;
}
.text-wrap > .solutions-wrap a {
  text-decoration: none;
  font-weight: bold;
  color: #032c4a;
  font-size: 20px;
}
.text-wrap > .solutions-wrap a:hover {
  text-decoration: underline;
}
.text-wrap > .solutions-wrap a.source-code-link {
  color: #032c4a;
  font-weight: normal;
}
.text-wrap > .solutions-wrap > p.source-wrap {
  text-align: center;
  padding: 4px;
  margin-top: 40px;
}
.text-wrap > .solutions-wrap > p.source-wrap > a.source-code-link {
  color: #032c4a;
}
.text-wrap > .solutions-wrap > span.separator {
  font-size: 22px;
  margin-left: 12px;
  margin-right: 12px;
  opacity: 0.2;
}
.text-wrap > .social-wrap > a {
  font-size: 32px;
  text-decoration: none;
  color: #032c4a;
}
.text-wrap > .social-wrap > a:hover {
  color: rgba(3, 44, 74, 0.7);
}
.text-wrap > .social-wrap > span.separator {
  font-size: 30px;
  position: relative;
  top: -3px;
  color: rgba(3, 44, 74, 0.6);
  color: rgba(3, 44, 74, 0.4);
  margin-left: 6px;
  margin-right: 6px;
}

@media (min-width: 768px) {
  .text-wrap {
    padding: 22px;
  }
  .text-wrap > .link-wrap {
    text-align: unset;
    padding-top: 40px;
    padding-left: 120px;
  }
  .text-wrap > .link-wrap > a.link {
    color: #ffd800;
    font-weight: bold;
  }
  .text-wrap > .link-wrap > a.link:hover {
    text-shadow: 2px 2px 1px #07335c;
    text-decoration: none;
  }
  .text-wrap > .solutions-wrap {
    margin-top: 20px;
  }
  .text-wrap > .solutions-wrap > p.source-wrap {
    padding: 34px;
  }
}