.text-wrap {
  padding: 7px;
  line-height: 1.6;
}
.text-wrap > .link-wrap {
  padding-top: 40px;
  padding-left: unset;
  text-align: center;
}
.text-wrap > .link-wrap a {
  color: #3973cc;
}
.text-wrap > .solutions-wrap a {
  text-decoration: none;
  font-weight: bold;
  color: #2355a1;
}
.text-wrap > .solutions-wrap a:hover {
  text-decoration: underline;
}
.text-wrap > .solutions-wrap a.source-code-link {
  color: #0b4294;
  font-weight: normal;
}
.text-wrap > .solutions-wrap > p.source-wrap {
  text-align: center;
  padding: 4px;
  margin-top: 40px;
}
.text-wrap > .solutions-wrap > span.separator {
  font-size: 22px;
  margin-left: 12px;
  margin-right: 12px;
  opacity: 0.2;
}

@media (min-width: 768px) {
  .text-wrap {
    padding: 22px;
  }
  .text-wrap > .link-wrap {
    text-align: unset;
    padding-top: 40px;
    padding-left: 120px;
  }
  .text-wrap > .solutions-wrap {
    margin-top: 20px;
  }
  .text-wrap > .solutions-wrap > p.source-wrap {
    padding: 34px;
  }
}