body {
  background: #82d0fd;
  background: linear-gradient(135deg, #82d0fd 0%, #c2e9fb 100%);
  background-attachment: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  color: #011f28;
}
body main {
  padding-bottom: 0px !important;
}
body .main-content-wrap {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  grid-template-rows: 80px auto 114px;
  position: relative;
}
body .main-content-wrap > .top > header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body .main-content-wrap > .top > header > img.logo {
  height: 54px;
  margin-right: 14px;
  margin-left: 6px;
}
body .main-content-wrap > .top > header > h1 {
  position: relative;
  top: 2px;
}
body .main-content-wrap > .top > header > h1 > .title {
  display: block;
}
body .main-content-wrap > .content-wrap > .content {
  padding: 12px;
}
body .main-content-wrap > .bottom {
  background-image: url("/IMAGE/bottom-bg.png");
}
body .main-content-wrap > .bottom .illu {
  max-width: 130px;
}

#BarMenu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 90px;
  height: 60px;
  background-color: #458cde;
  padding: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#BarMenu img.flag {
  width: 30px;
  display: block;
  margin: 4px;
  margin-left: 6px;
}
#BarMenu .doc {
  font-size: 24px;
}
#BarMenu .envelope {
  font-size: 32px;
}
#BarMenu a {
  text-decoration: none;
  color: white;
}
#BarMenu hr {
  display: none;
}
#BarMenu span.separator {
  display: block;
  margin-left: 13px;
  margin-right: 13px;
  font-size: 26px;
  opacity: 0.3;
  position: relative;
  top: -3px;
}

@media (min-width: 768px) {
  body .main-content-wrap {
    grid-template-rows: 140px 467px 363px;
  }
  body .main-content-wrap > .top > header {
    justify-content: center;
  }
  body .main-content-wrap > .top > header > img.logo {
    height: 84px;
  }
  body .main-content-wrap > .content-wrap > .content {
    width: 1560px;
    margin: auto;
  }
  body .main-content-wrap > .bottom .illu {
    max-width: 413px;
  }
  #BarMenu {
    height: unset;
    top: 0;
    bottom: 0;
    right: 10%;
    left: unset;
    padding-top: 120px;
    flex-direction: column;
    justify-content: flex-start;
  }
  #BarMenu .doc {
    position: relative;
    left: 4px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  #BarMenu hr {
    display: block;
  }
  #BarMenu a {
    margin-top: 7px;
  }
  #BarMenu span.separator {
    display: none;
  }
}

.text-wrap {
  padding: 7px;
  line-height: 1.6;
}
.text-wrap > .link-wrap {
  padding-top: 40px;
  padding-left: unset;
  text-align: center;
}
.text-wrap > .link-wrap a {
  color: #3973cc;
}
.text-wrap > .solutions-wrap a {
  text-decoration: none;
  font-weight: bold;
  color: #2355a1;
}
.text-wrap > .solutions-wrap a:hover {
  text-decoration: underline;
}
.text-wrap > .solutions-wrap a.source-code-link {
  color: #0b4294;
  font-weight: normal;
}
.text-wrap > .solutions-wrap > p.source-wrap {
  text-align: center;
  padding: 4px;
  margin-top: 40px;
}
.text-wrap > .solutions-wrap > span.separator {
  font-size: 22px;
  margin-left: 12px;
  margin-right: 12px;
  opacity: 0.2;
}

@media (min-width: 768px) {
  .text-wrap {
    padding: 22px;
  }
  .text-wrap > .link-wrap {
    text-align: unset;
    padding-top: 40px;
    padding-left: 120px;
  }
  .text-wrap > .solutions-wrap {
    margin-top: 20px;
  }
  .text-wrap > .solutions-wrap > p.source-wrap {
    padding: 34px;
  }
}